#!/bin/sh

SINK_PORT={{ sink_port }}
SINK_IPADDR={{ hostvars[sink].ansible_enp0s8.ipv4.address }}
SINK_TIMEOUT={{ sink_timeout }}

sysctl -w net.ipv4.ip_local_port_range="10000  65535"
sysctl -w net.ipv4.tcp_tw_reuse=1

#docker run --net=host -d --name qperf-source calico-perf qperf -H ${SINK_IPADDR} -lp ${SINK_PORT} -vt -vvs -un -uu -t ${SINK_TIMEOUT} -oo msg_size:1:64K:*2 udp_bw udp_lat
docker run --net=host -d --name udp-perf-source calico-perf qperf -H ${SINK_IPADDR} -lp ${SINK_PORT} -vt -vvs -un -uu -t ${SINK_TIMEOUT} udp_bw udp_lat
docker wait udp-perf-source
