#!/bin/sh

FILE_BASE=10000
MULTIPLIER=2
NUM_CONNECTIONS={{ num_connections }}
FILE_MAX=$((FILE_BASE + MULTIPLIER * NUM_CONNECTIONS))

SINK_PORT={{ sink_port }}

sysctl -w fs.file-max=${FILE_MAX}
sysctl -w net.ipv4.tcp_max_orphans=${NUM_CONNECTIONS}

docker run --net=host -d --name tcp-perf-sink calico-perf qperf -lp ${SINK_PORT}
