#!/bin/sh

FILE_BASE=10000
MULTIPLIER=2
NUM_CONNECTIONS={{ num_connections }}
FILE_MAX=$((FILE_BASE + MULTIPLIER * NUM_CONNECTIONS))

SINK_PORT={{ sink_port }}
SERVER_TEST_DURATION={{ tcp_rps_server_test_duration }}

sysctl -w fs.file-max=${FILE_MAX}
sysctl -w net.ipv4.tcp_max_orphans=${NUM_CONNECTIONS}

docker run --net=host -d --name tcp-rps-sink calico-perf tcpkali -l ${SINK_PORT} -T ${SERVER_TEST_DURATION}
