#!/bin/sh

SINK_PORT={{ sink_port }}
SINK_IPADDR={{ hostvars[sink].ansible_enp0s8.ipv4.address }}
CLIENT_TEST_DURATION={{ tcp_rps_client_test_duration }}
NUM_CONNECTIONS={{ num_connections }}
RPS={{ rps }}

sysctl -w net.ipv4.ip_local_port_range="10000  65535"
sysctl -w net.ipv4.tcp_tw_reuse=1

docker run --net=host -d --name tcp-rps-source calico-perf tcpkali -T ${CLIENT_TEST_DURATION} -c ${NUM_CONNECTIONS} -r${RPS} -m 'GET / HTTP/1.0\r\n\r\n' ${SINK_IPADDR}:${SINK_PORT}
docker wait tcp-rps-source
