#!/bin/bash

while [ 1 ]; do
  NOW=`date -u +'%s'`
  TOP_DATA=`top -b -n 1 | head -5`
  LOAD_AVG=`echo ${TOP_DATA} | grep "load average" | awk '{print $10 $11 $12}'`
  MEM=`echo ${TOP_DATA} | tail -2`

  echo "$NOW,$LOAD_AVG" >> $RESULTS_DIR/load_avg.csv
  echo "$NOW,$MEM" >> $RESULTS_DIR/mem.csv
  sleep {{ metric_collection_interval }}
done
